@font-face {
    font-family: "PingFang SC Light";
    src: url("./PingFang-SC-Light.ttf");
}

@font-face {
    font-family: "PingFang SC Regular";
    src: url("./PingFang-SC-Regular.ttf");
}

@font-face {
    font-family: "LiSongPro";
    src: url("./LiSongPro.ttf");
}